<div class="d-md-flex gap-2 justify-content-md-center mb-2 text-wrap">
    <h2>GAME OVER</h2>
</div>
<div class="d-md-flex gap-2 justify-content-md-center mb-3">
    <h3>Thank you for playing ECS Quiplash!</h3>
</div>
<div v-if="me.player" class="d-md-flex gap-2 justify-content-md-center mb-2">
    <h4>Your score has been saved!</h4>
</div>
