<form v-if="me.state == 0" @submit.prevent=""> 
    <div class="d-grid gap-2 d-md-flex justify-content-md-center mb-2">
        <label for="username"></label>
        <input type="text" id="username" placeholder="Enter Username" v-model="username">
        <label for="password"></label>
        <input type="password" id="password" placeholder="Enter Password" v-model="password">
    </div>
    
    <div class="d-grid gap-2 d-md-flex justify-content-md-center"> 
        <button type="submit" button class="btn btn-lg btn-primary mb-1" @click="login">Login</button>
        <button type="submit" button class="btn btn-lg btn-secondary mb-1" @click="register">Register</button>
    </div>
</form>

<div v-else>
    <p><strong>Waitng for players to join...</strong></p>

    <div class="row mb-2">
            <div v-for="player of players" class="col-sm-3 text-center">
                <div class="player">
                    <strong>{{player.name}}</strong>
                </div>
            </div>
    </div>
    
    <div v-if="me.number == 1" class="d-md-flex justify-content-md-center">
        <button class="btn btn-lg btn-success mb-1" @click="admin('start')">Start Game</button>
    </div>
</div>