<div class="col-sm-4 text-center">
    <p><strong>Time Remaining:</strong></p>
    <p>{{state.countdown}}</p>
</div>

<div class="col-sm-4 text-center">
    <p><strong>Enter Your Prompt:</strong></p>
</div>

<div class="col-sm-4 text-center">
    <strong>Player {{me.name}}</strong>>
    <p>{{me.score}} / 100</p>
</div>