<div>
    <p>Scores being shown on main display...</p>
    <p>Waiting for host to continue...</p>
    
    <div v-if="me.number == 1" class="d-md-flex justify-content-md-center">
        <button class="btn btn-lg btn-success" @click="admin('advance')">Advance Game</button>
    </div>
</div>