body {
    background-image: url('/static/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #acc5d0;
}
.title {
    font-weight: bold;
    font-size: 32px;
    text-align: center;
}
.player {
    background-color: white;
    border: 1px solid black;
    padding: 2px;
    border-radius: 3px;
    margin-bottom: 3px;
}
.player.me {
    color: blue;
}
.admin {
    background-color: black;
    color: white;
    text-align: center;
}
.banner {
    background-color: plum;
    color: black;
    text-align: center;
}
.bannerAud {
    background-color: orange;
    color: black;
    text-align: center;
}
.bannerCount {
    float: right;
    width: 30vh;
    background-color: gainsboro;
    color: black;
    text-align: center;
}
.container {
    background-color: rgba(255,255,255,0.8);
    padding-bottom: 10px;
    padding-top: 10px;
    height: 100vh;
}
.flex-even {
    flex: 1;
}
.test {
    background-color: black;
}
.userP {
    color: orange;
}
.votes {
    color: yellow;
}
.voters {
    color: wheat;
    font-size: 15px;
}
.wrapperResult {
    display: grid;
    grid-template-columns: 1fr 1fr; /* twp equal sized columns */
  }
.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; /* four equal sized columns */
  }
#messages { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    overflow: auto;
    max-height: 80vh;
}
#chat { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    overflow: auto;
    max-height: 80vh;
}
#chat li { 
    padding: 5px 10px; 
}
#chat li:nth-child(odd) { 
    background-color: rgba(0,0,0,0.2); 
}
